/* Webfont: KATSUMI-Regular */@font-face {
    font-family: 'KATSUMI';
    src: url('KATSUMI.eot'); /* IE9 Compat Modes */
    src: url('KATSUMI.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('KATSUMI.woff') format('woff'), /* Modern Browsers */
         url('KATSUMI.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

